/target

/artifacts
*.settings.json

/assets/models/
/assets/items/
/assets/test/simp/

.DS_Storedevice_log.txt
device_log.txt

# Local scratch artifacts
/__tmp_*
/ethertia-main.bundle
*known_hosts

# 忽略保存目录
/saves/
/save/
